* {
    background-color: rgb(253, 251, 251);
    margin: 0;
    font-family: 'Ysabeau Infant', sans-serif;
}

#cabecalho {
    top: 0;
    position: fixed;
    height: 50px;
    background-color:rgb(190, 229, 229);
    text-align: center;
    width: 100%;
}

#titulo {
    background-color:rgb(162, 227, 227);
    color: rgb(15, 98, 98);
    font-weight: 800;
    font-size: 30px;
}

header {
    margin-top: 60px;
    text-align: center;
}

#minha_foto {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 100%;
    border: 2px solid rgb(18, 168, 168);
}

#minha_foto_container {
    text-align: center;
    
}

#licoes {
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
    width: 800px;
    border: 2px solid rgb(42, 116, 116);
    display: block;
}

#licoes_aprendidas_container , #licoes_a_aprender_container {
    display: inline-block;
    text-align: center;
    margin: 0px 100px;
    background-color: rgb(27, 58, 58);
}


#licoes_aprendidas {
    text-align: left;
    line-height: 1.5;
}

#licoes_a_aprender {
    text-align: left;
    line-height: 1.5;
}

#artigo {
    text-align: left;
    margin-left: 30px;
    border: 2px solid black;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    width: 600px;
    border: 2px solid rgb(42, 116, 116);
}

#aside {
    text-align: left;
    margin: 20px;
    padding: 15px;
    display: inline-block;
    border-radius: 10px;
    width: 600px;
    border: 2px solid rgb(42, 116, 116);
    
}

#artigo_aside_container {
    text-align: center;
    margin-bottom: 40px;
}

#artigo img{
    width: 20px;
}

#artigo h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

#aside h2 {
    font-size: 20px;
}

#tabela {  
    display: block;
    margin:auto;
    text-align: center;
    width: 360px;
    margin-bottom: 30px;
}


#tabela table {
    border: 2px solid rgb(24, 46, 46);
    padding: 5px;
    margin: 15px;
}

#tabela th {
    margin: 20px;
}

#rodape {
    background-color: rgb(33, 115, 110);
    bottom: 0;
    left: 0;
    position: relative;
    height: 70px;
    
}

#rodape a {
    background-color: rgb(33, 115, 110);
    text-decoration: none;
    color: white;
    margin-left: 50px;
    font-weight: 700;
    padding: 5px;
    border: 1px solid ;
}




